apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: globalsend
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/tecknosap/globalsend-k8-gitops.git
    targetRevision: main
    path: helm/globalsend

  destination:
    server: https://kubernetes.default.svc
    namespace: globalsend

  syncPolicy:
    automated:
      prune: true
      selfHeal: true